.container-fluid{
    background-color: rgba(245, 245, 220, 0.918);
    justify-content: center;
    padding: 5px;
}

/*
agregar margin ---> separa los elementos entre sí. Se le puede agregar margin-top o margin-right 

el mensaje agregado a Por qué reservar directo se le puede asociar un modal con JS: 
https://getbootstrap.com/docs/5.0/components/modal/

Video Freecodecamp: hasta la hora 3:38
https://www.youtube.com/watch?v=XqFR2lqBYPs&ab_channel=freeCodeCampEspa%C3%B1ol


*/

#navbarNav,
.navbar-brand,{
  padding: 4px;  
}


.Reserva{
    background-color: silver;
    padding-left: 8px;
}

.Por-que-reservar{
    background: rgb(181, 155, 136);
    font-family: 'Hind', sans-serif;
    color: aliceblue;
    width: 100px;
    text-align: center
}

#Tarifa{
    color: aquamarine;
}